</div>
</div>
<script src="{{ .Site.BaseURL }}js/ui.js"></script>

{{ partial "google_analytics.html" . }}

</body>

<script>
	converse.initialize({
	allow_chat_pending_contacts: true,
	allow_non_roster_messaging: true,
	allow_registration: true,
	bosh_service_url: 'https://magicbroccoli.de/http-bind',
	csi_waiting_time: 25,
	domain_placeholder: 'magicbroccoli.de',
	locked_domain: 'magicbroccoli.de',
	message_carbons: true,
	muc_domain: 'conference.magicbroccoli.de',
	providers_link: 'https://magicbroccoli.de/xmpp',
	registration_domain: 'magicbroccoli.de',
	roster_groups: true,
	show_controlbox_by_default: false,
	show_send_button: true,
	});
</script>
</html>
