<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha256-GIa8Vh3sfESnVB2CN3rYGkD/MklvMq0lmITweQxE1qU=" crossorigin="anonymous"></script>
<script src="{{ "assets/js/highlight.pack.js" | relURL }}"></script>

<script>hljs.initHighlightingOnLoad();</script>

{{ with .Site.DisqusShortname }}
<script id="dsq-count-scr" src="//{{ . }}.disqus.com/count.js" async></script>
{{ end }}

<!--<script src="{{ "assets/js/script.js" | relURL }}"></script>-->

<!--{{ template "_internal/google_analytics_async.html" . }}-->

<!-- Converse.js Chat -->
<link rel="stylesheet" media="screen" href="https://cdn.conversejs.org/css/converse.min.css" integrity="sha384-35gf2AQLe+cTvWZjGqTZ1V/JoxDqC865k68uNubzUksi8BFsV8YEsG3vtvgCJHeZ" crossorigin="anonymous">
<script>
  if (screen && screen.width > 960) {
    document.write('<script type="text\/javascript" src="https://cdn.conversejs.org/dist/converse.min.js" integrity="sha384-kUGvELgVKs477uqdxNSGnoUabCLU8gF9h91Tcxaay7O4t/lPBXBlwrGRsg0R7qJD" crossorigin="anonymous">><\/script>');
  }
</script>
<script>
  converse.initialize({
    allow_chat_pending_contacts: true,
    allow_non_roster_messaging: true,
    allow_registration: false,
    archived_messages_page_size: 30,
    auto_list_rooms: false,
    bosh_service_url: 'https://magicbroccoli.de/http-bind',
    websocket_url: 'wss://magicbroccoli.de/xmpp-websocket',
    csi_waiting_time: 25,
    default_domain: 'magicbroccoli.de',
    domain_placeholder: 'magicbroccoli.de',
    message_carbons: true,
    muc_domain: 'conference.magicbroccoli.de',
    providers_link: 'https://magicbroccoli.de/xmpp',
    registration_domain: 'magicbroccoli.de',
    roster_groups: true,
    show_controlbox_by_default: true,
    show_send_button: true,
  });
</script>
